<!DOCTYPE html>
%html
%head
	%title
		= @title
	%meta(name="viewport" content="width=device-width,initial-scale=1")
	= stylesheet_link_tag "application", :media => "all"
	= javascript_include_tag "application"
	= csrf_meta_tags
%body

#movies.page(data-role="page" data-theme="x")
	#main
		%header
			.content
				%h1 Top 10
		#main-content
			.content.clearfix
				%nav.movies-nav
					= yield
				%section#movieslist
					/ JSON drops movie listing here
		%footer
			.content
				%p= ['Copyright Thane Woidan', Time.now.year, 'for Belly'].join " "

#albums.page(data-role="page" data-theme="x")
	#main
		%header	
			.content
				%h1 Top 10
		#main-content
			.content.clearfix
				%nav.albums-nav
					= yield
				%section#albumslist
					/ JSON drops music listing here
		%footer
			.content
				%p= ['Copyright Thane Woidan', Time.now.year, 'for Belly'].join " "

